$font-color: #000;
$font-alternative-color: #fff;
$accent-color: rgb(48, 70, 53);
$hover-color: #f88557;
$background-color: #ffe0d4;
$background-alternative-color: rgb(213, 255, 199);
$footer-color: #afd9ae;